.card {
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.64);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.boton {
  backdrop-filter: blur(0px) saturate(100%);
  -webkit-backdrop-filter: blur(0px) saturate(100%);
  background-color: rgba(17, 25, 40, 0.43);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.link {
  backdrop-filter: blur(0px) saturate(100%);
  -webkit-backdrop-filter: blur(0px) saturate(100%);
  background-color: rgba(17, 25, 40, 0);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
