@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("../public/icon/fondo2.0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  
}

body::-webkit-scrollbar {
  width: 10px;
  background: rgba(255,255,255, 0.8);
}

body::-webkit-scrollbar-thumb{
  background: rgb(67 56 202);
  border-radius: 5px;
}
