@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("../public/icon/fondo2.0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
}
